<div class="gallery">
  {{/* Create a unique gallery ID based on the file's unique ID or title */}}
  {{ $galleryName := .Page.File.UniqueID | default (.Page.Title | urlize) }}

  {{ range .Page.Resources.ByType "image" }}
    {{ $thumbnail := .Fill "600x600" }}
    {{ $full := .Resize "1600x" }}
    
    {{ $caption := "" }}

    {{ with .Exif }}
      {{ if index .Tags "ImageDescription" }}
        {{ $caption = index .Tags "ImageDescription" }}
      {{ end }}
    {{ end }}

    {{ if not $caption }}
      {{ $caption = (path.BaseName .Name | replaceRE "[-_]" " " | title) }}
    {{ end }}

    <div class="gallery-item">
      {{/* Use the dynamic gallery name here */}}
      <a href="{{ $full.RelPermalink }}" 
         class="glightbox" 
         data-gallery="gallery-{{ $galleryName }}" 
         data-title="{{ $caption }}">
        <img src="{{ $thumbnail.RelPermalink }}" alt="{{ $caption }}" loading="lazy">
      </a>
    </div>
  {{ end }}
</div>